*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#kapsayici{
    width: 60%;
    height: auto;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resim{
    width: 60%;
    height: 40%;
    z-index: -98;
    opacity: 0.8;
}

#replik{
    margin-top: -120px;
}

#btnDegistir{
    margin-top: -60px;
}

h3{
    margin: 2vh;
}